{% extends "base.html" %}
{% load i18n %}

{% block content %}

 <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Your cloud workstation awaits!</h1>
        {% if user.is_authenticated %}
          <p>Welcome back...</p>
          <p><a href="{% url 'workstations' %}" class="btn btn-primary btn-large">See your workstations &raquo;</a></p>
        {% else  %}
          <p>Login or register to get started building <a href="http://graphics.stanford.edu/imagewebs/">Image Webs</a> with the <a href="https://image-web-cloud-tools.readthedocs.org/en/latest/">Image Webs Cloud Toolkit.</a></p>
          <p><a href="{% url 'auth_login' %}" class="btn btn-primary btn-large">Login &raquo;</a></p>
        {% endif %}
      </div>


{% endblock %}
