{% extends "base.html" %}
{% load i18n %}

{% block content %}

Please enter your AWS Access Key.  

<form action="/setup_credentials/" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

You can copy your Access Key from the <a href="https://console.aws.amazon.com/iam/home?#security_credential">AWS Management Console</a> in the *Access Keys* section.  Your AWS Access Key will not be stored, but is used temporarily to create an IAM user and role as described in the <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/IAMBestPractices.html">AWS identity best practices</a>.

{% endblock %}
