{% extends "base.html" %}
{% load i18n %}

{% block content %}

Please provide one of your root AWS Access Keys (ID and Secret).
 
<form action="/setup_credentials/" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

<div class="alert alert-info">
  <b>Tip:</b> To create a root Access Key, go to the Security Credentials page in the <b><a href="https://console.aws.amazon.com/iam/home?#security_credential">AWS Management Console</a></b> and open the Access Keys section.  
</div>

<div class="alert">
  <b>Note:</b>  Your AWS Access Key will not be stored, but is used temporarily to create an IAM user and role as described in the <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/IAMBestPractices.html">AWS identity best practices</a>.  
</div>



{% endblock %}
